@{
    ViewBag.Title = "Three";
}

<h2>Three</h2>
<div id="container">
</div>
@section Scripts{
    <script>

        var camera, scene, renderer;
        var geometry, material, mesh;

        var width = 400, height = 400;

        init();
        animate();

        function init() {

            camera = new THREE.PerspectiveCamera(75, width/ height, 1, 10000);
            camera.position.z = 1000;

            scene = new THREE.Scene();

            geometry = new THREE.CubeGeometry(200, 200, 200);
            material = new THREE.MeshBasicMaterial({ color: 0xff0000, wireframe: true });

            mesh = new THREE.Mesh(geometry, material);
            scene.add(mesh);

            renderer = new THREE.WebGLRenderer();
            renderer.setSize(width, height);

            $('#container').append(renderer.domElement);

        }

        function animate() {

            // note: three.js includes requestAnimationFrame shim
            requestAnimationFrame(animate);

            mesh.rotation.x += 0.01;
            mesh.rotation.y += 0.02;

            renderer.render(scene, camera);

        }

    </script>
}