@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div id="container">
</div>
@section Scripts{
    <script>
        var oldPos = new THREE.Vector3(0, 0, 0);


        $(function () {

            $(document).keydown(function (evnt) {

                var cameraEvents = [
                    {
                        key: 33, // page up
                        vector: new THREE.Vector3(0, 0, 10)
                    },
                    {
                        key: 34, // page down
                        vector: new THREE.Vector3(0, 0, -10)
                    }
                ];
                var lookAtEvents = [

                    {
                        key: 39, // right
                        vector: new THREE.Vector3(1, 0, 0)
                    },
                    {
                        key: 37, // left
                        vector: new THREE.Vector3(-1, 0, 0)
                    },
                    {
                        key: 38, // up
                        vector: new THREE.Vector3(0, -1, 0)
                    },
                    {
                        key: 40,//down
                        vector: new THREE.Vector3(0, 1, 0)
                    }
                ];

                var lookAtmatch = lookAtEvents.filter(function (value) {
                    return value.key === evnt.keyCode
                });

                if (lookAtmatch && lookAtmatch.length === 1) {
                    oldPos.addSelf(lookAtmatch[0].vector);
                    renderer.lookAt(oldPos);
                }
                var cameraMatch = cameraEvents.filter(function (value) {
                    return value.key === evnt.keyCode
                });
                if (cameraMatch && cameraMatch.length === 1) {
                    renderer.camera(cameraMatch[0].vector);
                }
                //var pos = {
                //    x: (evnt.clientX / $(this).width()) * 100,
                //    y: (evnt.clientY / $(this).height()) * 100,
                //    z:0
                //};
                //renderer.lookAt(pos);
            });
        });

        var renderer;

        function init() {
            renderer = new Renderer($('#container'));

            renderer.init();

            var ambientLight = new THREE.AmbientLight(0x00ff00);
            var light = new THREE.PointLight(0x00ff00, 100);

            var geometry = new THREE.JSONLoader();

            var imageLoader = new THREE.ImageLoader();
            var image = new Image();
            imageLoader.load('@Url.Content("~/Content/texture.jpg")', image);
            var texture = new THREE.Texture(image);
            var material = new THREE.MeshLambertMaterial({
                color: 0xff0000,
                wireframe: false,
                map: texture
            });

            geometry.load('http://localhost:12930/api/map/1600', function (data) {

                data.computeVertexNormals();                
                data.computeFaceNormals();


                //var subdivision = new THREE.SubdivisionModifier(2);
                //subdivision.modify(data);
                data.materials[0].map = material.map;
                
                var mesh = new THREE.Mesh(data, material);

                renderer.addMesh(ambientLight);
                renderer.addMesh(light);

                renderer.addMesh(mesh);
            });
            //$.get("~/api/map", { id: 1600 }, function (data) {
            //var geometry = new THREE.PlaneGeometry(20, 20, 5, 5);


            //for (var i = 0; i < geometry.vertices.length; i++) {
            //    var vertex = geometry.vertices[i];
            //    vertex.z = (((i + 1) * (vertex.y + 1) * (vertex.x + 1)) % 100) / 10.0;
            //}


            renderer.animate(function () {
                //mesh.rotation.x += 0.01;
                //mesh.rotation.y += 0.02;
            });
            //});
            //var geometry = new THREE.CubeGeometry(20, 20, 20);





        }
        init();

    </script>
}