@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div >
    @Html.Action("BuildDialog")
</div>
<div id="container" style="min-width: 1024px; width: 100%; min-height: 768px; height: 100%; position: static">
</div>

@section Scripts{

    <script>

        var renderer;

        function init() {
            var $container = $('#container');
            renderer = new Kolonist.Renderer($container);

            renderer.init({ width: $container.innerWidth(), height: $container.innerHeight() });

            renderer.mouse.registerClickHandler(new Kolonist.Build($('#build-dialog')).openDialog);

            var light = new THREE.DirectionalLight(0xffffff);
            light.position.set(0, 0, 1).normalize();
            renderer.addMesh(light);

            renderer.loadMap('http://localhost:12930/api/map/1600');

            renderer.animate(function () {
                //mesh.rotation.x += 0.01;
                //mesh.rotation.y += 0.02;
            });

        }
        init();

    </script>
}