@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div id="container">
</div>
@section Scripts{
    <script>
        var oldPos = new THREE.Vector3(0, 0, 0);


        $(function () {

            $(document).keydown(function (evnt) {

                var events = [
                    {
                        key: 33, // page up
                        vector: new THREE.Vector3(0, 0, 1)
                    },
                    {
                        key: 34, // page down
                        vector: new THREE.Vector3(0, 0, -1)
                    },
                    {
                        key: 39, // right
                        vector: new THREE.Vector3(1, 0, 0)
                    },
                    {
                        key: 37, // left
                        vector: new THREE.Vector3(-1, 0, 0)
                    },
                    {
                        key: 38, // up
                        vector: new THREE.Vector3(0, -1, 0)
                    },
                    {
                        key: 40,//down
                        vector: new THREE.Vector3(0, 1, 0)
                    }
                ];

                var match = events.filter(function (value) {
                    return value.key === evnt.keyCode
                });

                if (match && match.length === 1) {
                    oldPos.addSelf(match[0].vector);
                    renderer.lookAt(oldPos);
                }
                //var pos = {
                //    x: (evnt.clientX / $(this).width()) * 100,
                //    y: (evnt.clientY / $(this).height()) * 100,
                //    z:0
                //};
                //renderer.lookAt(pos);
            });
        });

        var renderer;

        function init() {
            renderer = new Renderer($('#container'));

            renderer.init();

            var material = new THREE.MeshBasicMaterial({ color: 0xff0000, wireframe: true });
            var geometry = new THREE.JSONLoader();
            geometry.load('http://localhost:12930/api/map/1600', function (data) {

                var mesh = new THREE.Mesh(data, material);

                renderer.addMesh(mesh);
            });
            //$.get("~/api/map", { id: 1600 }, function (data) {
            //var geometry = new THREE.PlaneGeometry(20, 20, 5, 5);


            //for (var i = 0; i < geometry.vertices.length; i++) {
            //    var vertex = geometry.vertices[i];
            //    vertex.z = (((i + 1) * (vertex.y + 1) * (vertex.x + 1)) % 100) / 10.0;
            //}


            renderer.animate(function () {
                //mesh.rotation.x += 0.01;
                //mesh.rotation.y += 0.02;
            });
            //});
            //var geometry = new THREE.CubeGeometry(20, 20, 20);





        }
        init();

    </script>
}